<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">

    <title>iCrawler</title>

    <link rel="stylesheet" href="../static/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="../static/img/logo.png" alt="logo">
                </span>

                <div class="text header-text">
                    <span class="name">iCrawler</span>
                    <span class="profession">爬蟲委託平台</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="meun-bar">
            <div class="meun">
                <li class="search-box">
                    <i class='bx bx-search-alt-2 icon' ></i>
                    <input type="text" placeholder="搜尋...">
                </li>
                <ul class="meun-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-home icon' ></i>
                            <span class="text nav-text">主頁</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-notepad icon' ></i>
                            <span class="text nav-text">委託</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-upload icon' ></i>
                            <span class="text nav-text">上傳</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-home icon' ></i>
                            <span class="text nav-text"></span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-conent">
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-log-in icon' ></i>
                        <span class="text nav-text login">登入</span>
                    </a>
                    <div class="popup-container ">
                        <div class="popup close">
                            <H2>123</H2>
                        </div>
                    </div>
                </li>

                <li class="mode">
                    <div class="moon-sun">
                        <i class='bx bx-moon icon moon' ></i>
                        <i class='bx bx-sun icon sun' ></i>
                    </div>
                    <span class="mode-text text">深色模式</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>

    <section class="home">
        <div class="text">1564</div>
    </section>

    <script src="../static/js/script.js"></script>

</body>
</html>