<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">

    <title>iCrawler</title>

    <link rel="stylesheet" href="../static/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="../static/img/logo.png" alt="logo">
                </span>

                <div class="text header-text">
                    <span class="name">iCrawler</span>
                    <span class="profession">爬蟲委託平台</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="meun-bar">
            <div class="meun">
                <li class="search-box">
                    <i class='bx bx-search-alt-2 icon'></i>
                    <input type="text" placeholder="搜尋...">
                </li>
                <ul class="meun-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-home icon'></i>
                            <span class="text nav-text">主頁</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-notepad icon'></i>
                            <span class="text nav-text">委託</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-upload icon'></i>
                            <span class="text nav-text">上傳</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-conent">
                <li class="nav-link">
                    <a href="#" onclick="toggleActive()">
                        <i class='bx bx-log-in icon'></i>
                        <span class="text nav-text">登入</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="moon-sun">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">深色模式</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>

    <section class="home">
        {% if user_logged_in %}
        <p>使用者已登入，歡迎 {{ username }}</p>
    {% else %}
        <p>使用者未登入</p>
    {% endif %}

        <div class="login-box" id="login-box">
            <div class="button-box">
                <div id=btn></div>
                <button type="button" class="toggle-btn" onclick="login()">登入</button>
                <button type="button" class="toggle-btn" onclick="register()">註冊</button>
            </div>
            <form id="login" class="input-group" method="POST" action="/login">
                <input type="text" class="input-field" name="account" placeholder="帳號" required>
                <input type="password" class="input-field" name="password" placeholder="密碼" required>
                <button type="submit" class="submit-btn">登入</button>
            </form>
            <form id="register" class="input-group" method="POST" action="/register">
                <input type="text" class="input-field" name="account" placeholder="帳號" required>
                <input type="password" class="input-field" name="password" placeholder="密碼" required>
                <input type="text" class="input-field" name="username" placeholder="用戶名稱" required>
                <button type="submit" class="submit-btn">註冊</button>
            </form>
        </div>

    </section>

    <script src="../static/js/script.js"></script>
    <script>
        function toggleActive() {
            var loginBox = document.getElementById('login-box');
            loginBox.classList.toggle('is-active');
        }
        var x = document.getElementById("login");
        var y = document.getElementById("register");
        var z = document.getElementById("btn");

        function register() {
            x.style.left = "-400px";
            y.style.left = "50px";
            z.style.left = "110px";
        }

        function login() {
            x.style.left = "50px";
            y.style.left = "450px";
            z.style.left = "0px";
        }
    
        function passDataFromFlask(user) {
            console.log(user[0].id);
            console.log(user[0].password);
            console.log(user[0].name);
            console.log(user[0].email);
            console.log(user[0].birthday);
        }

        var request = new XMLHttpRequest();
        request.open('GET', '/get_user_data', true);
        request.onreadystatechange = function() {
            if (request.readyState === 4 && request.status === 200) {
                var user = JSON.parse(request.responseText);
                passDataFromFlask(user);
            }
        };
        request.send();

    

    </script>

</body>

</html>