<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">

    <title>iCrawler</title>

    <link rel="stylesheet" href="../static/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="../static/img/logo.png" alt="logo">
                </span>

                <div class="text header-text">
                    <span class="name">iCrawler</span>
                    <span class="profession">爬蟲委託平台</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="meun-bar">
            <div class="meun">
                <li class="search-box">
                    <i class='bx bx-search-alt-2 icon'></i>
                    <input type="text" placeholder="搜尋...">
                </li>
                <ul class="meun-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-home icon'></i>
                            <span class="text nav-text">主頁</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-notepad icon'></i>
                            <span class="text nav-text">委託</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-upload icon'></i>
                            <span class="text nav-text">上傳</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-conent">
                <li class="nav-link log-OK">

                    {% if user_logged_in %}
                    <a href="#" onclick="toggleActive1()">
                        <i class='bx bx-user icon'></i>
                        <span id="login-text" class="text nav-text">{{ username }}</span>
                    </a>
                    {% else %}
                    <a href="#" onclick="toggleActive2()">
                        <i class='bx bx-log-in icon'></i>
                        <span id="login-text" class="text nav-text">登入</span>
                    </a>
                    {% endif %}

                </li>



                <li class="mode">
                    <div class="moon-sun">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">深色模式</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>

    <section class="home">
        <div class="rightbox">
            <div class="profile tabshow">
                <h1>個人設定</h1>
                <h2>用戶名稱</h2>
                <input type="text" class="input" size="40" value="請輸入用戶名稱">
                <h2>出生年月日<h2>
                <input type="date" id="date" name="birth" value="2023-01-01" min="1900-01-01" max="2023-12-31">
                <h2>EMAIL</h2>
                <input type="text" class="input" size="40" value="請輸入電子郵件">
                <h2>密碼</h2>
                <input type="text" class="input" size="40" value="請輸入密碼">
                <br>
                <button class="button">更新</button>
            </div>
        </div>
        {% if user_logged_in %}
        <div class="profile-menu" id="profile-menu">
            <div class="sub-menu">
                <form method="POST" action="/page_switch">
                    <div class="user-info">
                        <i class='bx bx-user sub'></i>
                        <span class="meun-name">{{ username }}</span>
                    </div>
                    <hr>

                    <button href="#" class="sub-menu-like">
                        <i class='bx bx-cog sub'></i>
                        <span class="sub-text" name="page" value="settings">設定</span>
                        <span class="sub-1">></span>
                    </button>
                    <button href="#" class="sub-menu-like">
                        <i class='bx bx-cog sub'></i>
                        <span class="sub-text">功能2</span>
                        <span class="sub-1">></span>
                    </button>
                </form>
                <form method="POST" action="/logout">
                    <hr>
                    <button type="submit" class="sub-menu-like">
                        <i class='bx bx-log-out sub'></i>
                        <span class="sub-text">登出</span>
                        <span class="sub-1">></span>
                    </button>
                </form>

            </div>
        </div>
        {% else %}
        <div class="login-box" id="login-box">
            <div class="button-box">
                <div id=btn></div>
                <button type="button" class="toggle-btn" onclick="login()">登入</button>
                <button type="button" class="toggle-btn" onclick="register()">註冊</button>
            </div>
            <form id="login" class="input-group" method="POST" action="/login">
                <input type="text" class="input-field" name="account" placeholder="帳號" required>
                <input type="password" class="input-field" name="password" placeholder="密碼" required>
                <button type="submit" class="submit-btn">登入</button>
            </form>
            <form id="register" class="input-group" method="POST" action="/register">
                <input type="text" class="input-field" name="account" placeholder="帳號" required>
                <input type="password" class="input-field" name="password" placeholder="密碼" required>
                <input type="text" class="input-field" name="username" placeholder="用戶名稱" required>
                <button type="submit" class="submit-btn">註冊</button>
            </form>
        </div>
        {% endif %}
    </section>

    <script src="../static/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function toggleActive2() {
            var loginBox = document.getElementById('login-box');
            loginBox.classList.toggle('is-active-login');
        }

        function toggleActive1() {
            var profile_menu = document.getElementById('profile-menu');
            profile_menu.classList.toggle('is-active-profile-menu');
        }

        var x = document.getElementById("login");
        var y = document.getElementById("register");
        var z = document.getElementById("btn");

        function register() {
            x.style.left = "-400px";
            y.style.left = "50px";
            z.style.left = "110px";
        }

        function login() {
            x.style.left = "50px";
            y.style.left = "450px";
            z.style.left = "0px";
        }

    </script>
</body>

</html>