<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>取得網頁程式碼範例</title>
    </head>
    <body>
        <h1>取得網頁程式碼範例</h1>
        <form method="POST" action="/start">
            <label for="url-input">請輸入網址：</label>
            <input type="text" id="url-input" name="url-input">
            <br>
            <input type="radio" id="html-radio" name="option" value="html">
            <label for="html-radio">使用 HTML 取得網頁程式碼</label>
            <br>
            <input type="radio" id="bs4-radio" name="option" value="bs4">
            <label for="bs4-radio">使用 BeautifulSoup 取得網頁程式碼</label>
            <br>
            <input type="checkbox" id="save-data" name="save-data">
            <label for="save-data">儲存資料到 MySQL</label>
            <br>
            <button>開始</button>
        </form>
        <br>
        <label for="date">程式碼：</label>
        <br>
        <textarea id="date" name="date" rows="20" cols="80">{{ date }}</textarea>
        <br>
        <textarea id="sql_date" name="sql_date" rows="2" cols="80">{{ sql_date }}</textarea>
    </body>
</html>
