<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>取得網頁程式碼範例</title>
    </head>
    <body>
        <h1>取得網頁程式碼範例</h1>
        <form method="POST" action="/start">
            <select name = 'url-list'>
                <option value="https://www.gamer.com.tw/">巴哈</option>
                <option value="https://www.gamer.com.tw/">dcard</option>
                <option value="https://www.gamer.com.tw/">yahoo論壇</option>
                <option value="https://www.gamer.com.tw/">ptt</option>
                <option value="https://www.gamer.com.tw/">mobile01</option>
                <option value="https://www.gamer.com.tw/">reddit</option>
                <option value="https://www.gamer.com.tw/">cnn中文網</option>

            </select>
            <br>
            <input type="checkbox" id="save-data" name="save-data">
            <label for="save-data">儲存資料到 MySQL</label>
            <br>
            <button>開始</button>
        </form>
        <br>
        <label for="date">程式碼：</label>
        <br>
        <textarea id="date" name="date" rows="20" cols="80">{{ date }}</textarea>
        <br>
        <textarea id="sql_date" name="sql_date" rows="2" cols="80">{{ sql_date }}</textarea>
    </body>
</html>
