<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>取得網頁程式碼範例</title>
    </head>
    <body>
        <h1>取得網頁程式碼範例</h1>
        <form method="POST" action="/start">
            <select name = 'url-list'>
                <option value="bahamut">巴哈</option>
                <option value="dcard">dcard</option>
                <option value="yahoo">yahoo論壇</option>
                <option value="ptt">ptt</option>
                <option value="mobile01">mobile01</option>
                <option value="reddit">reddit</option>
                <option value="cnnchinese">cnn中文網</option>

            </select>
            <br>
            起始頁數:<input type="text" id="start-page" name="start-page" size="2">
            結束頁數:<input type="text" id="end-page" name="end-page" size="2">
            <br>
            <input type="checkbox" id="save-data" name="save-data">
            <label for="save-data">儲存資料到 MySQL</label>
            <br>
            <button>開始</button>
        </form>
        <br>
        <label for="date">程式碼：</label>
        <br>
        <textarea id="date" name="date" rows="20" cols="80">{{ date }}</textarea>
        <br>
        <textarea id="sql_date" name="sql_date" rows="2" cols="80">{{ sql_date }}</textarea>
    </body>
</html>
